@font-face {
  font-family: 'Abel';
  src: url('./fonts/Abel-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Fascinate';
  src: url('./fonts/FascinateInline-Regular.ttf') format('truetype');
}

:root {
  /* Colors */
  --yellow: #F9E784;
  --taupe: #896A67;
  --black: #13070C;
  --eggplant: #6B4D57;
  --blue: #AFC2D5;
  --primary-background-color: var(--yellow);
  --primary-font-color: var(--black);
  font-family: Abel, sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  color: var(--black);
}


.nacho-button {
  font-family: Abel, sans-serif;
  background-image: url('./images/nacho-transparent.png');
  background-color: transparent;
  background-size: contain;
  border: none;
  flex: 1 1 0;
  font-size: 1.2rem;
  aspect-ratio: 1/1;
  transform: translateY(-45%);
  transition: ease-in-out .5s;

  &:hover,
  &:focus-visible {
    transform: translateY(-5%);
  }
}


body {
  background-image: url('./images/nachos-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

#nav-bar {
  grid-column-start: 2;
  margin-bottom: -25%;
}

nav {
  display: flex;
  width: 100%;
}

.card {
  background-color: var(--primary-background-color);
  width: 100%;
  grid-column-start: 2;
  margin-block: 2rem;
  min-height: 20rem;
  padding: 1rem;
  border: .4rem var(--eggplant) solid;
}

@media (min-width: 600px) {
  body {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
  }

  .card {
    border-radius: 1rem;
  }
}