:root {
  /* Colors */
  --yellow: #F9E784;
  --taupe: #896A67;
  --black: #13070C;
  --eggplant: #6B4D57;
  --blue: #AFC2D5;
  --primary-background-color: var(--yellow);
  --primary-font-color: var(--black);
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  color: var(--black);
}

body {
  background-image: url('./images/nachos-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

.card {
  background-color: var(--primary-background-color);
  width: 100%;
  grid-column-start: 2;
  margin-block: 2rem;
  min-height: 20rem;
  padding: 1rem;
  border: .4rem var(--eggplant) solid;
}

@media (min-width: 600px) {
  body {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
  }

  .card {
    border-radius: 1rem;
  }
}